<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/After_PartyTheme"
        tools:targetApi="31">
        <activity
            android:name=".AddressActivity"
            android:exported="false" />
        <activity
            android:name=".LoginComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_login_compose"
            android:theme="@style/After_PartyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VariousListActivity"
            android:exported="false" />
        <activity
            android:name=".DeliciousListActivity"
            android:exported="false" />
        <activity
            android:name=".RecentlyListActivity"
            android:exported="false" />
        <activity
            android:name=".PopularListActivity"
            android:exported="false" />
        <activity
            android:name=".GPSActivity"
            android:exported="true" />

        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".DetailReservation"
            android:exported="true" />
        <activity
            android:name=".ReservationConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="true"
            android:label="@string/title_activity_my_page"
            android:theme="@style/After_PartyTheme" />
        <activity
            android:name=".EventActivity"
            android:exported="false"
            android:label="@string/title_activity_event"
            android:theme="@style/After_PartyTheme" />
        <activity
            android:name=".reserveActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageEdit"
            android:exported="false"
            android:theme="@style/After_PartyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:theme="@style/After_PartyTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/After_PartyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/After_PartyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>

</manifest>